In [2]:
from function import Eddies_Tools

In [3]:
et = Eddies_Tools()

In [3]:
trade_chat = et.convert_to_df('data\WoWChatLog.txt')

trade_chat

             time_stamp                                               text
0     2/22 08:14:35.105                          how long will downtime be
1     2/22 08:14:39.938                                            8 hours
2     2/22 08:14:42.172                                         few hours
3     2/22 08:14:42.172                                           8 hours?
4     2/22 08:14:42.406                                               7hrs
...                 ...                                                ...
1856  2/23 01:15:54.806                                            ok cool
1857  2/23 01:16:55.910                     CHANGE NUDES FOR MONTH SUB PLS
1858  2/23 01:17:10.157                                     help a gal out
1859  2/23 01:17:18.824                                            perhaps
1860  2/23 01:17:28.225   So how do i get to Vash'jir? the portal uptop...

[1861 rows x 2 columns]

In [4]:
trade_chat = et.convert_to_df('data\WoWChatLog.txt')

trade_chat

      date          time                                               text
0     2/22  08:14:35.105                          how long will downtime be
1     2/22  08:14:39.938                                            8 hours
2     2/22  08:14:42.172                                         few hours
3     2/22  08:14:42.172                                           8 hours?
4     2/22  08:14:42.406                                               7hrs
...    ...           ...                                                ...
1856  2/23  01:15:54.806                                            ok cool
1857  2/23  01:16:55.910                     CHANGE NUDES FOR MONTH SUB PLS
1858  2/23  01:17:10.157                                     help a gal out
1859  2/23  01:17:18.824                                            perhaps
1860  2/23  01:17:28.225   So how do i get to Vash'jir? the portal uptop...

[1861 rows x 3 columns]

In [5]:
trade_chat.to_csv('data/trade_chat_v2.csv')